@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&family=Roboto+Slab:wght@200;300&family=Roboto:wght@100;500&family=Rubik:ital,wght@0,400;0,700;1,400;1,600&family=Work+Sans:ital,wght@0,300;0,600;1,300;1,400&display=swap');

body{
    max-width: 1220px;
    margin: 0 auto;
}

button.slick-next{
    z-index: 10;
    right: 10px;
}

button.slick-prev{
    z-index: 10;
    left: 0;
}

button.slick-prev::before{
    color: red;
    width: 30px;
    height: 30px;
    background-color: white;
    font-size: 24px;
    content: '\276E';
    display: flex;
    justify-content: center;
    align-items: center;
}


button.slick-next::before{
    color: red;
    content: '\276F';
    width: 30px;
    height: 30px;
    background-color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    -webkit-appearance: none;
}